* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color:rgb(226, 202, 202);
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: auto;
  color: #47000c;
  background-image: url(images/wood-header.jpg);
}


/* Navigation */

#logo {
  position: relative;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 6fr 1fr 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  font-size: 14px;
}

#title {
  font-size: xxx-large;
}

.menu-button{
  background: #47000c;
  border: black solid 1px;
  border-radius: 5%;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 50%;
  box-shadow: 3px 5px #bb3047;
}

.menu-button:hover {
  opacity: 0.9;
}



/* Base Styles */

h1, h2, h3 {
  color: #ab0421;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
}

h3 + p {
  font-weight: bold;
  text-align: center;
}

a:link {
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5em;
}

a:visited {
  color: rgb(214, 110, 110);
}

a:active {
  color: rgb(255, 251, 251);
}

a:after {
  color: #47000c;
}

a:hover {
  font-size: 125%;
  transform: scale(1);
  color: #cfc5c7;
}

p {
  text-align: center;
}

#container-border {
  margin-top: 10%;
}

img {
  padding: 0.5rem;
}

li {
  list-style: none;
}

/* Home Page */

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: x-large;
}

#specials-items {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
  grid-gap: 20px;
  justify-items: center;
  padding: 1em;
}

/* Menu Page */

#pizza-menu {
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
  grid-gap: 1em;
  justify-items: center;
}


.pizza {
  border: #47000c 1px solid;
  padding: 1em;
  text-align: center;
  overflow-wrap: break-word;
  align-items: center;
}

#pizza-item {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  padding: 0.5rem;
}

button {
  background: #9e132a;
  color: whitesmoke;
  border-radius: 5%;
  padding: 5px;
  font-size: 14px;
}


/* Catering Page */

#catering-container {
  text-align: center;
}

/* About Us Page */

#about-container {
  display: grid;
  grid-template-columns: 3fr 3fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  padding: 20px;
}

article p {
  padding: 10px;
  text-align: left;
}

#about-yelp{
  text-align: center;
  color: #47000c;
  text-decoration: underline;
}

#contact {
  text-align: center;
}

#contact-link {
  background: #47000c;
  border: black solid 1px;
  border-radius: 5%;
  padding: 5px;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  box-shadow: 3px 5px #bb3047;
  margin: 10px;
}

.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 20px;
}

#google {
  text-align: center;
}

/* Contact */

#contact {
  padding: 1em;
}
footer {
  text-align: center;
  padding: 20px;
}

footer > p {
  text-decoration: none;
  background-color: #47000c;
  color: whitesmoke;
  padding: 1em;
}
