html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  font-family: 'Noto Sans HK', sans-serif;
  max-width: 100%;
  height: auto;
}

/* Navbar */

#logo {
  float: left;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 6fr 1fr 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  font-size: 16px;
  position: sticky;
}

.menu-button{
  background: #47000c;
  border: black solid 1px;
  border-radius: 5%;
  padding: 5px;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  width: 65%;
  box-shadow: 3px 5px #bb3047;
}

.menu-button:hover {
  opacity: 0.4;
}

span{
  font-size: x-large;
}


/* Base Styles */

#page-container {
  text-align: center;
}

h1, h2, h3 {
  color: #ab0421;
  text-align: center;
}

p {
  font-size: 16px;
}

a {
  color: #ab0421;
  
}

a, :after {
  color: #47000c;
}

a:hover {
  font-size: 125%;
  transform: scale(1);
}

/* Home Page */

#photos-container {
  text-align: center;
  width: 100%;
  align-items: center;
  justify-items: center;
  padding: 20px;
}

#video-container {
  text-align: center;
}


/* About Us Page */

.about-container {
  display: grid;
  grid-template-columns: 3fr 3fr;
  width: 100%;
  align-items: center;
  justify-items: center;
}

article {
  padding: 20px;
}

#about-yelp{
  text-align: center;
  padding: 20px;
}

#contact {
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
}