body {
  background-color: #ddcfc5;
}

#page-container {
  text-align: center;
}
h1 {
  color: #ab0421;
  font-family: 'Noto Sans HK', sans-serif;
  text-decoration: underline overline;
}

#photos-container {
  text-align: center;
  padding: 10px;
  margin: 50px;
}

#video-container {
  text-align: center;
}